#index-nav {
	text-align: center;
	padding: 0 $content-padding-mobile/4*3;

	a {
		display: inline-block;
		width: $index-link-size-mobile;
		height: $index-link-size-mobile;
		margin: $content-padding-mobile / 4;

		background-color: $home-nav-link-background-color;
		&:link, &:visited {
			.fa {
				font-size: 42px;
				color: $home-nav-link-color;
				line-height: $index-link-size-mobile - 8px;
				margin-bottom: -18px;
			}
			.sub {
				color: $default-inverse-color;
				font-size: 12px;
			}
		}
		&:hover, &:active {
			.fa {
				color: $home-nav-link-active-color;
			}

		}
	}
}
