.hours-dow {
	display: inline-block;
	width: 130px;
}
.social-media {
	text-align: center;

	a {
		font-size: 48px;
		display: inline-block;
		padding: $content-padding-mobile/2;
		&:link, &:visited {
			color: $default-inverse-color;
		}
		&:hover, &:active {
			color: $nav-background-color;
		}
	}
}
