#static-logo {
	text-align: center;
	padding: $static-logo-spacing-mobile 0;

	img {
		width: 70%;
	}

	.name {
		padding-top: $content-padding-mobile;
		color: $default-inverse-color;
		letter-spacing: 4px;
	}
}
#global-content {
	> div {
		margin-top: 0;
		opacity: 1;

		@include transition(margin-top $animation-duration $animation-style,
				opacity $animation-duration $animation-style);

		&.initial-frame {
			margin-top: $nav-height - $nav-border-height;
			opacity: 0;
		}
	}
}
