#global-nav {
	position: fixed;
	top: 0;
	left: 0;
	right: 0;
	background-color: $nav-background-color;
	color: $nav-color;
	z-index: 999;

	@include transition(top $animation-duration $animation-style);

	&.closed {
		top: -($nav-height - $nav-border-height);
	}
}
#global-nav-push {
	height: 60px;
}

// ********************************************************************
// mobile nav
#nav-mobile {
	border-bottom: $nav-border-height solid $nav-border-color;
	height: $nav-height;
}

#nav-mobile-collapsed-title {
	display: block;
	background-color: $nav-background-color;
	color: $nav-color;
	height: $nav-height - $nav-border-height;
	line-height: $nav-height - $nav-border-height;
	i {
		padding-right: $content-padding-mobile;
	}
}
