* {
	box-sizing: border-box;
}

html, body {
	font-family: $default-font-family;
	background-color: $default-background-color;
	color: $default-color;
}

html, body,
h1, h2, h3, h4, h5, h6,
li, ul, ol, table, tr, td, th, thead, tbody,
fieldset, legend,
p {
	margin: 0;
	padding: 0;
}

a {
	text-decoration: none;
}

.link {
	text-decoration: none;

	&:link, &:visited {
		color: $link-color;
	}
	&:hover, &:active {
		color: $link-active-color;
	}
}

.controller {
	display: none;
}
.container {
	display: block;
	padding: 0 $content-padding-mobile;
}

.section-title {
	background-color: $nav-background-color;
	color: $default-background-color;
	padding: 12px 0;
	font-size: 28px;
	font-weight: bold;
}
.subsection-title {
	color: $default-inverse-color;
	margin-bottom: 8px;
	font-size: 20px;
	font-weight: bold;

	.fa {
		float: right;
		font-size: 30px;
	}
	.hint {
		font-size: 12px;
	}
}
.sub-subsection-title {
    color: $default-inverse-color;
    font-style: italic;
    margin-bottom: 4px;

    &.spaced-top {
		margin-top: $content-padding-mobile;
    }
}
.card {
	background-color: $default-background-offset-color;

	&.spaced {
		padding: $content-padding-mobile 0;
	}
	&.spaced-top {
		padding-top: $content-padding-mobile;
	}
	&.fragmented {
		margin: $content-padding-mobile/2 auto;
		padding: $content-padding-mobile/2 0;
	}
	&.fenced-top {
		margin-top: $content-padding-mobile/2;
	}

	img {
	    margin: 10px 0;
	    width: 100%;
	}
}

.no-list {
	list-style: none;

	li {
		padding-left: 16px;
		text-indent: -16px;

		span {
			padding: 0;
			text-indent: 0;
		}
	}

	&.spaced {
		li {
			margin-top: $content-padding-mobile/2;
		}
	}
	&.two-column {
		font-size: 0;
		li {
			font-size: 16px;
			display: inline-block;
			width: 50%;
		}
	}
}

.slideshow {
	background-color: $default-background-offset-color;
	padding: $content-padding-mobile 0;
	overflow-y: auto;
	font-size: 0;
	white-space: nowrap;
	text-align: center;
	margin: 0 auto;

	&.fragmented {
		margin: $content-padding-mobile/2 auto;
	}

	iframe,
	img {
		padding: 0 $content-padding-mobile/2;
		vertical-align: middle;
		display: inline-block;
	}

	img {
		height: 50vh;
	}
	.padding {
		height: 1px;
		width: $content-padding-mobile/2;
		display: inline-block;
	}
	&.fenced-bottom {
		margin-bottom: $static-logo-spacing-mobile/2;
	}
}
