// Variables used globally
$default-font-family: Raleway, monospace; //test //Palatino, serif;

$husky-purple: #4b2e83;
$husky-gold: #b7a57a;

$default-background-color: #333333;
$default-background-inverse-color: #e8be2d;
$default-background-offset-color: #3f3f3f;
$default-color: #00bf7f;
$default-inverse-color: #ffffff;

$link-color: #59d100;
$link-active-color: #2377e0;

$nav-background-color: $default-background-inverse-color;
$nav-border-color: #9e7f22; // def-bg-inv-clr offset
$nav-color: $default-inverse-color;

$home-nav-link-color: $husky-gold;
$home-nav-link-active-color: #52bc00;
$home-nav-link-background-color: $default-background-offset-color;

$section-title-hr-color: #a2a2a2;

// Sizing
$responsive-tablet: 768px;
$responsive-desktop: 1600px;

$content-padding-mobile: 22px;
$content-padding-tablet: 64px;

$nav-border-height: 6px;
$nav-height: 60px;
$nav-link-height: 44px;

$static-logo-spacing-mobile: 60px;

$index-link-size-mobile: 94px;

//Animation and transitions
$animation-duration: 0.5s;
$animation-style: cubic-bezier(0.3, 0.3, 0.02, 1);
$ease-in: cubic-bezier(0, 0, 0, 1);
$ease-out: cubic-bezier(0, 0, 1, 0);

@mixin transition($params...) {
	-webkit-transition: $params;
	-moz-transition: $params;
	transition: $params;
}


// Shadows
$box-shadow-layer-1: 2px 2px 6px 0 #999;
