// Includes styles relating to the root index.php file
.front-page-banner {
	height: 100%;
	background: transparent url("/styles/cache/bg.jpg") no-repeat center center;
	background-size: cover;

	div {
		position: absolute;
		bottom: 0;
		font-weight: bold;
		padding: 30px $content-padding;
		font-size: 28px;
		color: #FFF;
		background-color: rgba(0, 0, 0, 0.5);
		width: 100%;
	}
}


$front-tri-spacing: 30px;
$front-tri-bezel: 5px;
.front-tri {
	margin-top: $front-tri-spacing;
	.title {
		margin: $front-tri-spacing $content-padding/2 10px $content-padding/2;
		padding: 0 $content-padding/2-$front-tri-bezel;
		border-left: $front-tri-bezel solid $husky-gold;
	}
	.body {
		padding: 0 $content-padding;
	}
	.block-time {
		display: inline-block;
		width: 100px;
	}
}
