// Includes styles relating to the root index.php file
.index-title {
	text-align: center;

	.title {
		padding-top: 100px;
		padding-bottom: 20px;
		font-size: 34px;
	}
	.title-underline {
		width: 50%;
		margin: 0 auto;
		border-bottom: 1px solid $husky-gold;
	}
}

.index-links {
	padding-top: 100px;

	.index-menu {
		list-style: none;
	}

	li a {
		display: block;
		margin: $content-padding/2;
		padding: $content-padding/2;
		box-shadow: $box-shadow-layer-1;

		&:link, &:visited {
			color: $default-color;
		}
		&:hover, &:active {
			color: $husky-gold;
		}
	}

	.title {
		font-size: 20px;
	}
	.hr {
		display: block;
		border-bottom: 1px solid #CCC;
		width: 50%;
	}
	.descr {
		font-size: 14px;
	}
}
