* {
	box-sizing: border-box;
}

html, body {
	font-family: $default-font-family;
	height: 100%;
	color: $default-color;
	background-color: $default-background-color;
}

html, body,
h1, h2, h3, h4, h5, h6,
li, ul, ol, table, tr, td, th, thead, tbody,
fieldset, legend,
p {
	margin: 0;
	padding: 0;
}

a {
	&:link, &:visited {
		text-decoration: none;
		color: $husky-gold;
	}
	&:hover, &:active {
		color: $husky-purple;
	}
}

.b {
	font-weight: bold;
}
.i {
	font-style: italic;
}

.container {
	padding: 0 $content-padding;
}
.col-4 {
}
