// Variables used globally
$default-font-family: Raleway, Palatino, serif;
$default-color: #282828;

$husky-purple: #4B2E83;
$husky-gold: #b7a57a;
$husky-text-overlay-color: #FFF;

// Sizing
$media-width-sm: 450px;
$content-padding: 28px;
